@model TokenSearchResultVm
@* TODO: add token route *@
<a href="/">
<li class="search-result">
    <img src="@Model.PreviewId" alt="@Model.Name" width="50" height="50" />
    <div class="user-details">
        <strong>@Model.Name</strong>
        <p>@Model.Type</p>
    </div>
</li>
</a>