<!-- footer -->
	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col-12 col-sm-8 col-md-6 col-lg-6 col-xl-4 order-4 order-md-1 order-lg-4 order-xl-1">
					<div class="footer__logo">
						<img src="~/img/logo.svg" alt="">
					</div> 
					<p class="footer__tagline">Digital marketplace for crypto collectibles <br>and non-fungible tokens (NFTs). <br>Buy, sell, and discover exclusive digital assets.</p>
					
				</div>
				<div class="col-6 col-md-4 col-lg-3 col-xl-2 order-1 order-md-2 order-lg-1 order-xl-2 offset-md-2 offset-lg-0">
                					<h6 class="footer__title">NTF Marketplace</h6>
                					<div class="footer__nav">
                						<a href="/explore">Explore</a>
                						@* <a href="/activity">Activity</a> *@
	                                    <a href="/authors">Authors</a>
	                                    <a href="/privacyPolicy">Privacy Policy</a>
                                    </div>
                				</div>
			</div>

			<div class="row">
				<div class="col-12">
					<div class="footer__content">
						<small class="footer__copyright">© Unitok, 2023. Created by "Quack, but..." team.</small>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- end footer -->