@model EmailVM
@{
    Layout = "_Layout";
}

<div class="confirm-block">
    <img src="img/email.png" alt="email">
    <h2>Check your email!</h2>
    <div class="confirm-text">@Model.Message</div>
</div>
