@model ResetPasswordVM

<div class="col-12">
    <div class="sign">
        <div class="sign__content">
            <form method="post" action="/resetPassword" class="sign__form">
                <h2 style="color: white">Reset password</h2>
                <div class="validation" asp-validation-summary="ModelOnly"></div>

                <span class="validation" asp-validation-for="Password"></span>
                <div class="sign__group">
                    <input asp-for="Password" type="password" class="sign__input" placeholder="Password">
                </div>

                <span class="validation" asp-validation-for="ConfirmPassword"></span>
                <div class="sign__group">
                    <input asp-for="ConfirmPassword" type="password" class="sign__input" placeholder="Confirm password">
                </div>

                <input asp-for="UserId" value="@Model.UserId" style="display: none">
                <input asp-for="Code" value="@Model.Code" style="display: none">

                <button id="signupBtn" class="sign__btn" type="submit">Send</button>

            </form>
        </div>
    </div>
</div>